<!doctype html>
<html>

  <head>

    <meta charset="utf-8">
    <title>angular watch resource - example</title>

    <script src="angular/angular.js"></script>
    <script src="angular-watch-resource.js"></script>

    <script src="scripts/app.js"></script>

    <style type="text/css">

      h1, h2, h3, p {
        font-family: 'Arial', sans-serif;
      }

      p {
        margin: 0px;
        line-height: 1.25em;
      }

      .meta {
        color: #666666;
      }

      .online {
        color: green;
      }

      .offline {
        color: red;
      }

    </style>

  </head>

  <body ng-app="app" ng-cloak>
    <div class="wrapper" ng-controller="AppCtrl">

      <h1>User {{ user.data.id }}</h1>

      <div ng-switch="user.isReady()">
        <div ng-switch-when="true">
          <img ng-src="{{ user.data.avatar_url}}" />
          <p><strong>{{ user.data.username }}</strong></p>
          <p class="online" ng-show="user.data.online">is online!</p>
          <p class="offline" ng-show="! user.data.online">is offline</p>
          <p>{{ user.data.city }} {{ user.data.country }}</p>
          <p><a href="{{ user.data.website }}" target="_blank">{{ user.data.website }}</a></p>
          <p class="meta" ng-switch="user.$requestTimestamp">
            <small ng-switch-default>request @ {{ user.$requestTimestamp | timestampToDate }}</small>
            <small ng-switch-when="undefined">no request</small>
          </p>
          <p class="meta"><small>created @ {{ user.$createdTimestamp | timestampToDate }}</small></p>
          <p class="meta"><small>updated @ {{ user.$updatedTimestamp | timestampToDate }}</small></p>
        </div>
        <div ng-switch-when="false">
          <p>Loading data..</p>
        </div>
      </div>

      <h2>Followings</h2>

      <div ng-switch="followings.isReady()">
        <div ng-switch-when="true">
          <p ng-show="followings.isEmpty()">No Followings given. <a href="#" ng-click="selectDefaultUser()">go back to start</a></p>
          <ul>
            <li ng-repeat="userItem in followings.data track by $index">
              <p><a href="#" ng-click="selectUser(userItem.id)">{{ userItem.username }}</a></p>
            </li>
          </ul>
        </div>
        <div ng-switch-when="false">
          <p>Loading data..</p>
        </div>
      </div>

    </div>
  </body>

</html>
