<!doctype html>
<html>

  <head>

    <meta charset="utf-8">
    <title>angular watch resource - example</title>

    <script src="angular/angular.js"></script>
    <script src="angular-watch-resource.js"></script>

    <script src="scripts/app.js"></script>

  </head>

  <body ng-app="app" ng-cloak>
    <div class="wrapper" ng-controller="AppCtrl">

      <h1>User {{ user.data.id }}</h1>

      <div ng-switch="user.isReady()">
        <div ng-switch-when="true">
          <p><strong>{{ user.data.username }}</strong></p>
          <p ng-show="user.data.online" style="color: green">is online!</p>
          <p>{{ user.data.city }} {{ user.data.country }}</p>
          <p>{{ user.data.website }}</p>

          <p><small>updated @ {{ user.$updatedTimestamp | timestampToDate }}</small></p>
        </div>
        <div ng-switch-when="false">
          <p>Loading data..</p>
        </div>
      </div>

      <h2>Followings</h2>

      <div ng-switch="followings.isReady()">
        <div ng-switch-when="true">
          <p ng-show="followings.isEmpty()">No Followings given.</p>
          <ul>
            <li ng-repeat="userItem in followings.data track by $index">
              <p><a href="#" ng-click="selectUser(userItem.id)">{{ userItem.username }}</a></p>
            </li>
          </ul>
        </div>
        <div ng-switch-when="false">
          <p>Loading data..</p>
        </div>
      </div>

    </div>
  </body>

</html>
